@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

html,body {
    margin:0;
    padding: 0;
    scroll-padding-top: 69px;
    scroll-behavior: smooth;
    
}

main {

    grid-template-areas: "head head head"
                         "cont cont cont"
                         "footer footer footer";
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    

   
}

#header-bar {
grid-area: head;
display: grid;
grid-template-areas:"logo nav";
background-image:linear-gradient(to left,#f7f451,#f8f487,#d0eb89,#f8f65b,#f7f451);
border-bottom: 1px double #19660f;
position: fixed;
width: 100%;
}

.logo {
    grid-area: logo;
    grid-column: 1/1;
    justify-self: start;
    align-self: center;
}

.logo img {
    width: 170px;
    height: 65px;
    border-radius: 50%;
}

.navigation {
    grid-area: nav;
    grid-column: 2/-1;
    justify-self: end;
    align-self: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding:5px;
    margin-right: 5px;
    font-size: 1rem;
    
}

li a{
    color:#2B7A0B;;
    text-decoration: none;
    font-family: 'Raleway',serif;
    font-weight: bold;
    
}

#content {
padding-top:70px;
grid-area: cont;
background-image:linear-gradient(to top,#f8f487,rgb(241, 241, 189),#fff,#fff,rgb(252, 248, 198),#f8f487);
display: grid;
grid-template-areas: "home"
                     "benefits" 
                     "pricing";
}

#home {
    grid-area: home;
    display: grid;
    grid-template-areas: "title title title title"
                         "image image intro intro";
    grid-template-columns: 2fr 1fr 150px 1fr;
    
}

.title {
    grid-area: title;
    justify-self: center;
    align-self:center;
}

.title h1 {
    font-family: 'Amita',cursive;
    font-size: 3rem;
    color: #2B7A0B;
    margin: 0;
}

.title p {
    font-family: 'Raleway',serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    color: #b9bb48;
    margin: 0;
}
.intro {
    grid-area: intro;
    border:1px solid transparent;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
    margin-right: 30px;
    background-color: rgb(232, 235, 77,0.4);
    padding:20px 30px;}

.facts {
    width:auto;
    height:auto;
}

.img-container {
    width:45px;
    height:35px;
}
   
.icon {
    width:30px;
    height:30px;
}

.txt-container {
    font-size:16px;
    color: #797a16;
    font-weight: bold;
    font-family: 'Raleway',serif;
    padding: 5px;

}


.image {
    grid-area: image;
    margin:5px 10px;
    justify-content: start;
    align-items: center;
     }
    

.image img {
   max-width: 90%;
   max-height: 90%; 
   padding-top: 15px; 
}
   

@media only screen and (max-width:950px) {

    .txt-container {
        font-size:15px;
        color: #797a16;
        font-family: 'Raleway',serif;
    
    }

    .intro {
        grid-area: intro;
        border:1px solid transparent;
        border-radius: 50px;
        justify-self: center;
        align-self: center;
        margin-right: 14px;
        background-color: rgb(232, 235, 77,0.4);
        padding:10px 10px;}

}


.contact p, .subscribe label, .subscribe p{
    font-size:14px;
    font-family: 'Raleway',serif;
    color: #f8f65b;
    font-weight: 200;
}

input {
    width: 180px;
    height: 35px;
    margin:10px 3px 0 0;
    background-color: #e7dc40;
    border:1px solid #19660f;
    color:#376810;
    font-size: 13px;
    padding:0 5px;
}



@media only screen and (max-width:768px) {
    #home {
        grid-area: home;
        display: grid;
        row-gap: 1em;
        grid-template-areas: "title title title title"
                             "image image image image"
                             ". intro intro .";
        grid-template-columns: 100px 1fr 1fr 100px;
        
    }

    .intro {
        grid-area: intro;
        border:1px solid transparent;
        border-radius: 50px;
        justify-content: center;
        align-content: center;
        min-width: 220px;
        background-color: rgb(232, 235, 77,0.4);
        padding:10px 10px;}

        .image {
            grid-area: image;
            justify-self: center;
            align-self: center;
            margin:0 auto !important;
             }
        
             .image img {
               
               max-width: 90%;
               max-height: 90%;
               min-width:350px ;
               margin-left:35px !important;
               
                }
                .contact p, .subscribe label, .subscribe p{
                    font-size:14px;
                    font-family: 'Raleway',serif;
                    color: #f8f65b;
                    font-weight: 200;
                }
                
                input {
                    width: 180px;
                    height: 35px;
                    margin:10px 3px 0 0;
                    background-color: #e7dc40;
                    border:1px solid #19660f;
                    color:#376810;
                    font-size: 13px;
                    padding:0 5px;
                    
                }
}

#benefits {
    grid-area: benefits;
    
}

h2 {
    font-family: 'Raleway',serif;
    color: #2B7A0B;
    text-align: center;
}

iframe {
    display: flex;
    margin:0 auto;
}


.health-benefits {
    color:#2B7A0B;
    font-family: 'Raleway',serif;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.health-benefits ul li {
    list-style: none;
    

}

.health-benefits ul li::before {
    content:'';
    display: inline-block;
    background-size: 20px;
    background-repeat: no-repeat;
    margin: 0 10px 0 0;
    height:30px;
    width:30px;
    background-position: left center;
    background-image: url('https://icon-library.com/images/green-check-mark-icon-transparent-background/green-check-mark-icon-transparent-background-12.jpg');
}


#pricing {
    grid-area:pricing;
    background-color: darkred;
}

#footer {
grid-area: footer;
background-image: linear-gradient(to top,#19660f,#376810,#647918);
display: flex;
border-top: 3px solid #2B7A0B;
justify-content: space-between;

}

.contact {
   margin-left: 5px;
   padding-left: 5px;
   justify-self: flex-start;
   align-self: center;
}

.contact p, .subscribe label, .subscribe p{
    font-size:16px;
    font-family: 'Raleway',serif;
    color: white;
    font-weight: 200;
}

.contact p, .subscribe p {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.subscribe {
    margin:5px;
    padding: 10px;
}


input {
    width: 180px;
    height: 35px;
    margin:10px 3px 0 0;
    background-color: #e4e1b9;
    border:1px solid #19660f;
    color:#376810;
    font-size: 15px;
    padding:0 5px;
    
}